body { 
    min-width:200px; 
    padding:0; margin:0; 
    font-family:sans-serif; 
}

* { box-sizing: 
    border-box; 
}

input[type=text] { 
    border:1px solid #cccccc; 
    margin:0.6rem 0; 
    padding:0.2rem 0.4rem; 
}

a { 
    text-decoration:none; 
}

textarea { 
    border:1px solid #cccccc; 
    margin:0.6rem 0; 
    padding:0.2rem 0.4rem; 
}

/* Top panel : #navbar, #toolbar */
.top_panel { 
    font-size:0.9rem; 
    display:block; 
    position: fixed; 
    width: 100%; 
    background-color:#212121; 
    color:#ffffff; 
    z-index:1001; 
    margin-bottom:1rem;
}

/* Navigation menu bar that appear at the top */

/* height needed to avoid extra bottom border */
.menubar { 
    display:inline-block; 
    height:1.8rem; 
}

.menubar a:link { 
    color:#eeeeee; 
    text-decoration:none; 
}

.menubar a:visited { 
    color:#eeeeee; 
    text-decoration:none; 
}

.menubar ul { 
    display:block; 
    padding:0; 
    margin:0; 
}

.menubar li { 
    display:inline; 
    float:left; 
    padding:0.45rem 1rem; 
}

.menubar li:hover { 
    background-color:#616161; 
    cursor:default; 
}

.menubar li ul { 
    display:none; 
    background-color:#212121; 
    border:1px solid #616161; 
    min-width:10rem; 
    position:absolute; 
    z-index:100; 
    margin:0.4rem -1rem;
}

.menubar li ul li { 
    display:block; 
    float:none; 
    color:#eeeeee; 
    margin:0; 
    padding:0.6rem 1rem; 
}

.menubar li ul li:hover { 
    cursor:pointer; 
}

.menubar li ul li.submenu_divider 
{ margin:0 0.4rem; 
    padding:0; 
    height:1px; 
    border-bottom:1px solid #424242; 
}

.menubar li:hover ul { 
    display:block; 
}

 /* toolbar containing small icons for tools */
.toolbar { 
    display:inline-block; 
    margin-left:1rem; 
}
 
.toolbar svg { 
    fill:white; 
    margin: 0.2rem 0.1rem; 
    height:1.2rem;  
    -moz-user-select:none; 
    -webkit-user-select:none; 
    -ms-user-select:none;
}

.toolbar svg:hover { 
    fill:yellow; 
    cursor:pointer; 
}

.toolbar svg:active { 
    fill:white; 
}

.toolbar ul { 
    display:inline-block; 
    padding:0.2rem; 
    margin:0; 
}

.toolbar li { 
    display:inline; 
    float:left; 
    padding:0rem 0.3rem; 
    border:1px solid white;
} /* main menu items */
 
.toolbar li:hover { 
    color:red; 
    cursor:pointer; 
}

.toolbar div {
    display: inline-block; 
    margin-right:1rem;  
}

/* Slider: containing range slider */
.slidecontainer {
    height: 20px;
    width: 200px;
    justify-content: center;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: #0000FF; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/* Middle panel: containing #image_panel, #leftsidebar */
.middle_panel { 
    display:table; 
    table-layout:fixed; 
    width:100%; 
    z-index:1; 
    padding:0;
}

#leftsidebar { 
    display:none; 
    z-index:10; 
    vertical-align:top;
}

#display_area { 
    display:table-cell; 
    width:100%; 
    z-index:1; 
    margin:0; 
    padding-left:1em; 
    vertical-align:top; 
}

/* layers of canvas */
#image_panel { 
    position:relative; 
    outline:none; 
}

#image_panel img { 
    visibility:hidden; 
    opacity:0; 
    position:absolute; 
    top:0px; 
    left:0px; 
    width:100%; 
    height:100%; 
    outline:none; 
}

#image_panel canvas { 
    position:absolute; 
    top:0px; 
    left:0px; 
    outline:none;
}

#image_panel .visible { 
    visibility:visible !important; 
    opacity:1 !important; 
}

/* image buffer
    #image_panel .fadein { visibility:visible; opacity:1; transition: visibility 0s linear 0s, opacity 300ms; }
    #image_panel .fadeout { visibility:hidden; opacity:0; transition: visibility 0s linear 300ms, opacity 300ms; }
*/

/* image grid view */
#image_grid_panel 
{ position:relative; 
    margin:0; 
    padding:0; 
    width:100%; 
}
  
#image_grid_panel #image_grid_toolbar { 
    display:block; 
    font-size:small; 
    padding:0.5rem 0;
}
 
#image_grid_panel #image_grid_toolbar select { 
    font-size:small; 
}

#image_grid_panel #image_grid_toolbar .tool { 
    display:inline; 
    margin:0 0.5rem;
}

#image_grid_panel #image_grid_group_panel { 
    font-size:small; 
}

#image_grid_panel #image_grid_group_panel select { 
    font-size:small; 
}

#image_grid_panel #image_grid_group_panel .image_grid_group_toolbar { 
    display:inline; 
    margin-left: 2rem;
}

#image_grid_panel #image_grid_group_panel .image_grid_group_toolbar select { 
    margin:0 0.2rem; 
    padding:0; 
    font-size:small;
}

#image_grid_panel #image_grid_info { 
    display:block; 
    font-size:small; 
    text-align:center; 
    margin-top:0.5rem; 
}

#image_grid_panel #image_grid_info .left { 
    float:left; 
    margin-left:2rem; 
}
#image_grid_panel #image_grid_info .right { 
    float:right; 
    margin-right:2rem; 
}
#image_grid_panel #image_grid_content { 
    position:relative; 
    overflow:hidden; 
    margin:0; 
    padding:0; 
    outline:none; 
}
#image_grid_panel #image_grid_content #image_grid_content_img img { 
    margin:0; 
    padding:0; 
    border:2px solid white;
}
#image_grid_panel #image_grid_content #image_grid_content_img .sel { 
    border-color:white; 
} /* hidden until used */
#image_grid_panel #image_grid_content #image_grid_content_img { 
    position:absolute; 
    top:0; left:0; 
    width:100%; 
    height:100%; 
}
#image_grid_panel #image_grid_content #image_grid_content_rshape { 
    position:absolute; 
    top:0; left:0; 
    width:100%; 
    height:100%; 
    pointer-events:none; 
}
#image_grid_panel #image_grid_content img { 
    float:left; 
    margin:0; 
}

#leftsidebar_collapse_panel { 
    display:none; 
    position:relative; 
    z-index:10; 
    vertical-align:top; 
}
#leftsidebar_show_button { 
    font-size:large;
    margin-left:0.1rem; 
}
#leftsidebar_show_button:hover { 
    color:red; 
    cursor: pointer; 
}

/* Left sidebar accordion */
button.leftsidebar_accordion { 
    font-size:large; 
    background-color:#f2f2f2; 
    cursor:pointer; 
    padding:0.5em 0.5em; 
    width:100%; 
    text-align:left; 
    border:0; 
    outline:none; 
}
button.leftsidebar_accordion:focus { 
    outline: none; 
}
button.leftsidebar_accordion.active, button.leftsidebar_accordion:hover { 
    background-color: #e6e6e6; 
}
button.leftsidebar_accordion:after { 
    content:'\02795'; 
    color:#4d4d4d; 
    float:right; 
}
button.leftsidebar_accordion.active:after { 
    content: '\2796'; 
}
.leftsidebar_accordion_panel { 
    display:none; 
    padding:0 0.5em; 
    font-size:small; 
    border-right:2px solid #f2f2f2; 
    border-bottom:2px solid #f2f2f2; 
}
.leftsidebar_accordion_panel.show {
    display:block; 
}