body { 
    min-width:200px; 
    padding:0; margin:0; 
    font-family:sans-serif; 
}

* { box-sizing: 
    border-box; 
}

input[type=text] { 
    border:1px solid #cccccc; 
    margin:0.6rem 0; 
    padding:0.2rem 0.4rem; 
}

a { 
    text-decoration:none; 
}

textarea { 
    border:1px solid #cccccc; 
    margin:0.6rem 0; 
    padding:0.2rem 0.4rem; 
}

/* Top panel : #navbar, #toolbar */
.top_panel { 
    font-size:0.9rem; 
    display:block; 
    position: fixed; 
    width: 100%; 
    background-color:#212121; 
    color:#ffffff; 
    z-index:1001; 
    margin-bottom:1rem;
}

/* Navigation menu bar that appear at the top */

/* height needed to avoid extra bottom border */
.menubar { 
    display:inline-block; 
    height:1.8rem; 
}

.menubar a:link { 
    color:#eeeeee; 
    text-decoration:none; 
}

.menubar a:visited { 
    color:#eeeeee; 
    text-decoration:none; 
}

.menubar ul { 
    display:block; 
    padding:0; 
    margin:0; 
}

.menubar li { 
    display:inline; 
    float:left; 
    padding:0.45rem 1rem; 
}

.menubar li:hover { 
    background-color:#616161; 
    cursor:default; 
}

.menubar li ul { 
    display:none; 
    background-color:#212121; 
    border:1px solid #616161; 
    min-width:10rem; 
    position:absolute; 
    z-index:100; 
    margin:0.4rem -1rem;
}

.menubar li ul li { 
    display:block; 
    float:none; 
    color:#eeeeee; 
    margin:0; 
    padding:0.6rem 1rem; 
}

.menubar li ul li:hover { 
    cursor:pointer; 
}

.menubar li ul li.submenu_divider 
{ margin:0 0.4rem; 
    padding:0; 
    height:1px; 
    border-bottom:1px solid #424242; 
}

.menubar li:hover ul { 
    display:block; 
}

 /* toolbar containing small icons for tools */
.toolbar { 
    display:inline-block; 
    margin-left:1rem; 
}
 
.toolbar svg { 
    fill:white; 
    margin: 0.2rem 0.1rem; 
    height:1.2rem;  
    -moz-user-select:none; 
    -webkit-user-select:none; 
    -ms-user-select:none;
}

.toolbar svg:hover { 
    fill:yellow; 
    cursor:pointer; 
}

.toolbar svg:active { 
    fill:white; 
}

.toolbar ul { 
    display:inline-block; 
    padding:0.2rem; 
    margin:0; 
}

.toolbar li { 
    display:inline; 
    float:left; 
    padding:0rem 0.3rem; 
    border:1px solid white;
} /* main menu items */
 
.toolbar li:hover { 
    color:red; 
    cursor:pointer; 
}

.toolbar div {
    display: inline-block; 
    margin-right:1rem;  
}

/* Slider: containing range slider */
.slidecontainer {
    height: 20px;
    width: 200px;
    justify-content: center;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: #0000FF; /* Green background */
    cursor: pointer; /* Cursor on hover */
}